.guild-battle-viewer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    gap: 4px;
    padding-bottom: 32px;
    padding-top: 16px;
  }
}

.title {
  color: red;
  font-size: 32px;

  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

.madeBy {
  font-size: 16px;
  color: white;
  margin-bottom: 8px;

  @media (max-width: 1024px) {
    font-size: 10px;
  }
}

.area-image {
  cursor: pointer;
  width: 130px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  margin: 4px;

  @media (max-width: 1024px) {
    width: 60px;
    height: 35px;
    margin: 2px;
  }
}

.viewer-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 32px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 8px;
  }
}
